In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("loan_approval.csv")

In [3]:
dataset

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,1,2,Graduate,No,9600000,29900000,12,778,2400000,17600000,22700000,8000000,Approved
1,2,0,Not Graduate,Yes,4100000,12200000,8,417,2700000,2200000,8800000,3300000,Rejected
2,3,3,Graduate,No,9100000,29700000,20,506,7100000,4500000,33300000,12800000,Rejected
3,4,3,Graduate,No,8200000,30700000,8,467,18200000,3300000,23300000,7900000,Rejected
4,5,5,Not Graduate,Yes,9800000,24200000,20,382,12400000,8200000,29400000,5000000,Rejected
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4264,4265,5,Graduate,Yes,1000000,2300000,12,317,2800000,500000,3300000,800000,Rejected
4265,4266,0,Not Graduate,Yes,3300000,11300000,20,559,4200000,2900000,11000000,1900000,Approved
4266,4267,2,Not Graduate,No,6500000,23900000,18,457,1200000,12400000,18100000,7300000,Rejected
4267,4268,1,Not Graduate,No,4100000,12800000,8,780,8200000,700000,14100000,5800000,Approved
4268,4269,1,Graduate,No,9200000,29700000,10,607,17800000,11800000,35700000,12000000,Approved

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset

,loan_id,no_of_dependents,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,education_ Not Graduate,self_employed_ Yes,loan_status_ Rejected
0,1,2,9600000,29900000,12,778,2400000,17600000,22700000,8000000,0,0,0
1,2,0,4100000,12200000,8,417,2700000,2200000,8800000,3300000,1,1,1
2,3,3,9100000,29700000,20,506,7100000,4500000,33300000,12800000,0,0,1
3,4,3,8200000,30700000,8,467,18200000,3300000,23300000,7900000,0,0,1
4,5,5,9800000,24200000,20,382,12400000,8200000,29400000,5000000,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4264,4265,5,1000000,2300000,12,317,2800000,500000,3300000,800000,0,1,1
4265,4266,0,3300000,11300000,20,559,4200000,2900000,11000000,1900000,1,1,0
4266,4267,2,6500000,23900000,18,457,1200000,12400000,18100000,7300000,1,0,1
4267,4268,1,4100000,12800000,8,780,8200000,700000,14100000,5800000,1,0,0
4268,4269,1,9200000,29700000,10,607,17800000,11800000,35700000,12000000,0,0,0

In [6]:
df2=dataset

In [7]:
df2.columns

Index(['loan_id', ' no_of_dependents', ' income_annum', ' loan_amount',
       ' loan_term', ' cibil_score', ' residential_assets_value',
       ' commercial_assets_value', ' luxury_assets_value', ' bank_asset_value',
       ' education_ Not Graduate', ' self_employed_ Yes',
       ' loan_status_ Rejected'],
      dtype='object')

In [8]:
indep_X=df2[['loan_id', ' no_of_dependents', ' income_annum', ' loan_amount',
       ' loan_term', ' cibil_score', ' residential_assets_value',
       ' commercial_assets_value', ' luxury_assets_value', ' bank_asset_value',
       ' education_ Not Graduate', ' self_employed_ Yes']]

In [9]:
dep_Y=df2[[' loan_status_ Rejected']]

In [10]:
indep_X

,loan_id,no_of_dependents,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,education_ Not Graduate,self_employed_ Yes
0,1,2,9600000,29900000,12,778,2400000,17600000,22700000,8000000,0,0
1,2,0,4100000,12200000,8,417,2700000,2200000,8800000,3300000,1,1
2,3,3,9100000,29700000,20,506,7100000,4500000,33300000,12800000,0,0
3,4,3,8200000,30700000,8,467,18200000,3300000,23300000,7900000,0,0
4,5,5,9800000,24200000,20,382,12400000,8200000,29400000,5000000,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
4264,4265,5,1000000,2300000,12,317,2800000,500000,3300000,800000,0,1
4265,4266,0,3300000,11300000,20,559,4200000,2900000,11000000,1900000,1,1
4266,4267,2,6500000,23900000,18,457,1200000,12400000,18100000,7300000,1,0
4267,4268,1,4100000,12800000,8,780,8200000,700000,14100000,5800000,1,0
4268,4269,1,9200000,29700000,10,607,17800000,11800000,35700000,12000000,0,0

In [11]:
dep_Y

       loan_status_ Rejected
0                          0
1                          1
2                          1
3                          1
4                          1
...                      ...
4264                       1
4265                       0
4266                       1
4267                       0
4268                       0

[4269 rows x 1 columns]

In [12]:
indep_X.shape

(4269, 12)

In [13]:
dep_Y.shape

(4269, 1)

In [14]:
def select_Kbest_clf(indep_X,dep_Y,n):
    from sklearn.feature_selection import SelectKBest
    from sklearn.feature_selection import f_classif
    classifier=SelectKBest(score_func=f_classif,k=n)
    fit=classifier.fit(indep_X,dep_Y)
    select_k=fit.transform(indep_X)
    return select_k

In [15]:
Kbest=select_Kbest_clf(indep_X,dep_Y,6)

C:\Users\yuvar\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [16]:
Kbest

array([[       1,        2, 29900000,       12,      778, 22700000],
       [       2,        0, 12200000,        8,      417,  8800000],
       [       3,        3, 29700000,       20,      506, 33300000],
       ...,
       [    4267,        2, 23900000,       18,      457, 18100000],
       [    4268,        1, 12800000,        8,      780, 14100000],
       [    4269,        1, 29700000,       10,      607, 35700000]],
      dtype=int64)

In [17]:
def split(indep_X,dep_Y):
    from sklearn.model_selection import train_test_split
    X_train,X_test,y_train,y_test=train_test_split(indep_X,dep_Y,test_size=30,random_state=0)
    return X_train,X_test,y_train,y_test

In [18]:
X_train,X_test,y_train,y_test=split(Kbest,dep_Y)

In [19]:
def scaler(X_train,X_test):
    from sklearn.preprocessing import StandardScaler
    sc=StandardScaler()
    X_train=sc.fit_transform(X_train)
    X_test=sc.transform(X_test)
    return X_train,X_test

In [20]:
scaler(X_train,X_test)

(array([[ 0.77296565,  0.88280124, -0.57758285,  0.89265496, -1.41364829,
         -0.99017236],
        [-1.59471919,  0.29338646, -0.51123275,  0.19224508,  1.65729591,
         -0.02270374],
        [ 1.1651439 ,  0.29338646, -0.85404156, -1.55877962, -0.33012647,
         -0.42948032],
        ...,
        [-0.39057769,  0.29338646,  0.92635257,  0.19224508,  0.48686057,
          1.12066827],
        [ 0.38403525,  0.88280124, -0.27900743,  1.2428599 ,  1.07787248,
          0.64792792],
        [ 0.48553066, -0.88544311,  0.18544321, -0.85836974,  0.6433049 ,
          0.09822984]]),
 array([[-1.31561415e-01, -8.85443112e-01,  2.84968350e-01,
         -1.57959860e-01,  4.23123996e-01,  1.49446296e+00],
        [-1.30403635e+00, -2.96028327e-01,  9.70585967e-01,
         -1.20857468e+00, -2.37418717e-01,  2.96121150e-01],
        [ 1.14159696e+00, -8.85443112e-01,  7.48597248e-02,
         -5.08164800e-01, -2.83772592e-01,  3.95066804e-01],
        [-1.66211214e+00, -8.85443112e-01,  1.45715331e+00,
         -5.08164800e-01, -1.14711351e+00,  1.40651127e+00],
        [-4.16560517e-01, -1.47485790e+00,  5.27430275e-02,
         -1.55877962e+00, -1.37888288e+00,  6.25939998e-01],
        [-1.50236570e-01, -8.85443112e-01,  6.60952204e-01,
         -1.57959860e-01, -7.70488276e-01,  9.22776961e-01],
        [-1.31053206e+00,  2.93386458e-01,  6.72010553e-01,
         -1.20857468e+00,  6.43304901e-01,  1.07669242e+00],
        [-3.40235971e-01,  8.82801244e-01, -1.57365597e-01,
          5.42450020e-01,  1.44890030e-04,  2.85127188e-01],
        [ 1.51022828e+00, -2.96028327e-01,  8.15769086e-01,
          1.92245080e-01,  1.85560389e-01,  5.81964151e-01],
        [ 1.90787995e-01, -8.85443112e-01,  1.50138670e+00,
          8.92654961e-01, -4.28628450e-01,  1.83527577e+00],
        [-1.63125754e+00,  2.93386458e-01, -1.60600927e+00,
          8.92654961e-01,  1.28067068e+00, -1.60583421e+00],
        [ 4.70915317e-01, -1.47485790e+00,  1.93266230e+00,
         -5.08164800e-01,  1.03151860e+00,  2.03316708e+00],
        [ 1.35595526e+00,  1.47221603e+00,  9.04235875e-01,
          1.59306484e+00, -6.83574761e-01,  1.53843881e+00],
        [ 1.70022768e+00, -8.85443112e-01, -6.43932939e-01,
         -8.58369740e-01, -6.77780526e-01, -8.03275010e-01],
        [ 8.46042339e-01,  8.82801244e-01, -7.65574774e-01,
          1.24285990e+00, -1.11234810e+00, -4.73456162e-01],
        [ 9.33734371e-01,  2.93386458e-01,  7.38360645e-01,
          1.59306484e+00,  2.37708498e-01,  9.77746769e-01],
        [ 2.69548431e-01,  2.93386458e-01, -5.78404592e-02,
          8.92654961e-01,  9.27222383e-01, -2.27037367e-02],
        [-7.53525266e-01, -2.96028327e-01, -1.57365597e-01,
         -8.58369740e-01, -2.37418717e-01, -2.64570892e-01],
        [-9.11046137e-01,  1.47221603e+00, -1.51754248e+00,
         -1.20857468e+00, -7.47311338e-01, -1.51788251e+00],
        [-9.70319454e-01,  2.93386458e-01, -2.56890735e-01,
          8.92654961e-01,  8.11337696e-01, -3.74510508e-01],
        [-4.71172372e-02, -2.96028327e-01, -1.20790872e+00,
          8.92654961e-01,  9.90958960e-01, -1.03414820e+00],
        [-1.10916517e+00,  8.82801244e-01,  3.06263301e-02,
         -5.08164800e-01, -9.25628592e-02, -1.21649391e-01],
        [ 1.72133872e+00, -1.47485790e+00,  1.39080322e+00,
         -8.58369740e-01, -1.32094054e+00,  2.04416104e+00],
        [-1.04907989e+00, -1.47485790e+00,  5.27430275e-02,
          8.92654961e-01,  9.73576257e-01,  1.19762600e+00],
        [-6.26858999e-01, -2.96028327e-01, -1.55071753e+00,
         -1.57959860e-01,  1.15899176e+00, -1.40794290e+00],
        [-5.38355004e-01,  2.93386458e-01,  6.94127250e-01,
         -1.57959860e-01, -7.70488276e-01,  5.70970190e-01],
        [ 1.62227921e+00, -2.96028327e-01,  1.13646120e+00,
         -1.57959860e-01, -5.03953497e-01,  9.22776961e-01],
        [-1.36493359e+00, -1.47485790e+00,  1.31339478e+00,
         -1.20857468e+00, -9.90669180e-01,  6.91903767e-01],
        [ 1.47287797e+00, -2.96028327e-01, -1.32955056e+00,
         -1.20857468e+00,  1.62832474e+00, -1.11110593e+00],
        [ 9.81640202e-01, -1.47485790e+00, -5.22291103e-01,
          1.24285990e+00,  1.27618045e-01, -8.69238780e-01]]))

In [21]:
def clf_report(classifier,X_test,y_test):
    from sklearn.metrics import confusion_matrix
    from sklearn.metrics import accuracy_score 
    y_pred=classifier.predict(X_test)
    clf_score=accuracy_score(y_test,y_pred)
    return clf_score

def svc_lin(X_train,y_train,X_test,y_test):
    from sklearn.svm import SVC
    classifier=SVC(kernel="linear")
    classifier.fit(X_train,y_train)
    cls_score=clf_report(classifier,X_test,y_test)
    return cls_score

svclin_score=svc_lin(X_train,y_train,X_test,y_test)

svclin_score

In [22]:
def svc_nl(X_train,y_train,X_test,y_test):
    from sklearn.svm import SVC
    classifier=SVC(kernel="rbf")
    classifier.fit(X_train,y_train)
    cls_score=clf_report(classifier,X_test,y_test)
    return cls_score

In [23]:
svc_nl_score=svc_nl(X_train,y_train,X_test,y_test)

C:\Users\yuvar\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\yuvar\Anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

In [24]:
svc_nl_score

0.6333333333333333

In [25]:
def d_tree(X_train,y_train,X_test,y_test):
    from sklearn.tree import DecisionTreeClassifier
    classifier=DecisionTreeClassifier()
    classifier.fit(X_train,y_train)
    cls_score=clf_report(classifier,X_test,y_test)
    return cls_score

In [26]:
dtree_score=d_tree(X_train,y_train,X_test,y_test)

In [27]:
dtree_score

1.0

In [28]:
def random(X_train,y_train,X_test,y_test):
    from sklearn.ensemble import RandomForestClassifier
    classifier=RandomForestClassifier()
    classifier.fit(X_train,y_train)
    cls_score=clf_report(classifier,X_test,y_test)
    return cls_score
    return fin_mod

In [29]:
rand_score=random(X_train,y_train,X_test,y_test)

C:\Users\yuvar\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\yuvar\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.

In [30]:
rand_score

0.9666666666666667

In [31]:
def log(X_train,y_train,X_test,y_test):
    from sklearn.linear_model import LogisticRegression
    classifier=LogisticRegression()
    classifier.fit(X_train,y_train)
    cls_score=clf_report(classifier,X_test,y_test)
    return cls_score

In [32]:
log_score=log(X_train,y_train,X_test,y_test)

C:\Users\yuvar\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\yuvar\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [33]:
log_score

0.8

In [34]:
def Knn(X_train,y_train,X_test,y_test):
    from sklearn.neighbors import KNeighborsClassifier
    classifier=KNeighborsClassifier()
    classifier.fit(X_train,y_train)
    cls_score=clf_report(classifier,X_test,y_test)
    return cls_score

In [35]:
Knn_score=Knn(X_train,y_train,X_test,y_test)

C:\Users\yuvar\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  after removing the cwd from sys.path.

In [36]:
Knn_score

0.6

In [37]:
def naiv_gaus(X_train,y_train,X_test,y_test):
    from sklearn.naive_bayes import GaussianNB
    classifier=GaussianNB()
    classifier.fit(X_train,y_train)
    cls_score=clf_report(classifier,X_test,y_test)
    return cls_score

In [38]:
gausnb_score=naiv_gaus(X_train,y_train,X_test,y_test)

C:\Users\yuvar\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [39]:
gausnb_score

0.7

In [40]:
def naiv_multinb(X_train,y_train,X_test,y_test):
    from sklearn.naive_bayes import MultinomialNB
    classifier=MultinomialNB()
    classifier.fit(X_train,y_train)
    cls_score=clf_report(classifier,X_test,y_test)
    return cls_score

In [41]:
multinb_score=naiv_multinb(X_train,y_train,X_test,y_test)

C:\Users\yuvar\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [42]:
multinb_score

0.4666666666666667

In [43]:
def naiv_compl(X_train,y_train,X_test,y_test):
    from sklearn.naive_bayes import ComplementNB
    classifier= ComplementNB()
    classifier.fit(X_train,y_train)
    cls_score=clf_report(classifier,X_test,y_test)
    return cls_score

In [44]:
complenb_score=naiv_compl(X_train,y_train,X_test,y_test)

C:\Users\yuvar\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [45]:
complenb_score

0.4666666666666667

In [46]:
def select_k_clf(svc_nl_score,dtree_score,rand_score,log_score,Knn_score,gausnb_score,multinb_score,complenb_score):
    print("Result for K feature selection inputs of 6")
    df=pd.DataFrame(index=['f_classif'],columns=['svm_non_linear','Decision_tree','Random_forest','Logistic',
                                                   'K_neighbour','Naiv_gaussian','Naiv_multinomialNb','Naiv_coplementNb'])
    #df['svm_linear']['f_classif']=svclin_score
    df['svm_non_linear']['f_classif']=svc_nl_score
    df['Decision_tree']['f_classif']=dtree_score
    df['Random_forest']['f_classif']=rand_score
    df['Logistic']['f_classif']=log_score
    df['K_neighbour']['f_classif']=Knn_score
    df['Naiv_gaussian']['f_classif']=gausnb_score
    df['Naiv_multinomialNb']['f_classif']=multinb_score
    df['Naiv_coplementNb']['f_classif']=complenb_score
    return df

In [47]:
result=select_k_clf(svc_nl_score,dtree_score,rand_score,log_score,
                    Knn_score,gausnb_score,multinb_score,complenb_score)
result

Result for K feature selection inputs of 6

,svm_non_linear,Decision_tree,Random_forest,Logistic,K_neighbour,Naiv_gaussian,Naiv_multinomialNb,Naiv_coplementNb
f_classif,0.633333,1,0.966667,0.8,0.6,0.7,0.466667,0.466667

#Finalized Model

#Decision Tree gives the most accureate result. So we have to take that as a finalized model